@using Devesprit.Core.Settings
@using Devesprit.Services
@using Devesprit.WebFramework.Helpers
@model Devesprit.DigiCommerce.Models.Post.LikeWishlistButtonsModel
@{
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    Layout = null;
}

@if (settings.Wishlist)
{
    <button type="button"
            class="like-btn btnAddedToWishlist_@Model.PostId"
            rel="nofollow, noindex"
            title="@Html.Raw(Model.AlreadyAddedToWishlist ? T("RemoveFromWishlist") : T("AddToWishlist"))"
            onclick="OnAddPostToWishlistButtonClick(event, @Model.PostId, @Model.AlreadyAddedToWishlist)">
        @Html.Raw(Model.AlreadyAddedToWishlist ? "<i class='fa fa-bookmark'></i>" : "<i class='fa fa-bookmark-o'></i>")
    </button>
}
@if (settings.LikePosts)
{
    <button type="button"
            class="like-btn btnLike_@Model.PostId"
            rel="nofollow, noindex"
            title="@Html.Raw(Model.AlreadyLiked ? T("Unlike") : T("Like"))"
            onclick="OnLikeButtonClick(event, @Model.PostId, @Model.AlreadyLiked)">
        @Html.Raw(Model.AlreadyLiked ? "<i class='fa fa-heart'></i>" : "<i class='fa fa-heart-o'></i>")
    </button>
}
