@using Devesprit.Core
@model Devesprit.DigiCommerce.Models.Profile.ChangePasswordModel
@{
    ViewBag.Title = T("ChangePassword");
    var currentLang = DependencyResolver.Current.GetService<IWorkContext>().CurrentLanguage;

    Html.AddHeadCustomParts("<meta name=\"robots\" content=\"noindex,nofollow\">");
}

<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <div class="panel">
            <div class="panel-title pad-10">
                <h5 class="no-mar">
                    <a href="#" onclick="window.history.back()" class="text-warning"><i class="fa fa-arrow-circle-o-@Html.Raw(currentLang.IsRtl ? "right" : "left")"></i></a>
                    @T("ChangePassword")
                </h5>
            </div>
            <div class="row pad-20">
                <div class="col-12 t-mar-20 fs-14">
                    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(p => p.Id)

                        <div class="form-group b-mar-5">
                            @Html.LabelFor(p => p.CurrentPassword)
                            @Html.PasswordFor(p => p.CurrentPassword, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(p => p.CurrentPassword, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                        <div class="form-group b-mar-5">
                            @Html.LabelFor(p => p.NewPassword)
                            @Html.PasswordFor(p => p.NewPassword, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(p => p.NewPassword, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                        <div class="form-group b-mar-5">
                            @Html.LabelFor(p => p.PasswordConfirm)
                            @Html.PasswordFor(p => p.PasswordConfirm, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(p => p.PasswordConfirm, "", new { @class = "form-text text-danger fs-12" })
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="text-center">
                            <button type="submit" class="btn btn-success d-block m-auto t-mar-20 b-mar-10">@T("Update")</button>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

