@using Devesprit.Core.Settings
@using Devesprit.Services
@using Devesprit.WebFramework.Helpers
@model Devesprit.DigiCommerce.Models.Profile.ProfileModel
@{
    ViewBag.Title = T("MyProfile");
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();

    Html.AddHeadCustomParts("<meta name=\"robots\" content=\"noindex,nofollow\">");
}

@{ Html.RenderPartial("Partials/_UserInfo", Model.UserInfo); }

<div class="panel pad-15 t-mar-10">
    <div class="row justify-content-center">
        <div class="col-12 col-md-3">
            <ul class="nav flex-column nav-pills mb-5">
                <li class="nav-item">
                    @Ajax.HtmlActionLink(
                        "<img src='/Content/img/invoice_24px.png' class='m-auto' /> " + T("Invoices"),
                        "UserInvoices", "Profile",
                        new {userId = Model.UserInfo.Id},
                        new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            LoadingElementId = "LoadingPanel",
                            OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');",
                            OnComplete = "$('.nav-link').removeClass('active'); $(this).addClass('active')",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "placeholder",
                        }, new {@class = "nav-link white-space-initial", id = "btn_Invoices" })
                </li>
                <li class="nav-item">
                    @Ajax.HtmlActionLink(
                        "<img src='/Content/img/alert_24px.png' class='m-auto' /> " + T("Notifications") +
                        (Model.UserUnreadedNotifications > 0 ? " <span class='badge badge-danger'>" + Model.UserUnreadedNotifications + "</span>" : ""),
                        "UserNotifications", "Profile",
                        new {userId = Model.UserInfo.Id},
                        new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            LoadingElementId = "LoadingPanel",
                            OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');",
                            OnComplete = "$('.nav-link').removeClass('active'); $(this).addClass('active')",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "placeholder",
                        }, new {@class = "nav-link white-space-initial" })
                </li>
                @if (settings.LikePosts)
                {
                    <li class="nav-item">
                        @Ajax.HtmlActionLink(
                            "<img src='/Content/img/heart_24px.png' class='m-auto' /> " + T("ProductsYouLike"),
                            "UserLikes", "Profile",
                            new {userId = Model.UserInfo.Id},
                            new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                LoadingElementId = "LoadingPanel",
                                OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');",
                                OnComplete = "$('.nav-link').removeClass('active'); $(this).addClass('active')",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "placeholder",
                            }, new {@class = "nav-link white-space-initial" })
                    </li>
                }
                @if (settings.Wishlist)
                {
                    <li class="nav-item">
                        @Ajax.HtmlActionLink(
                            "<img src='/Content/img/bookmark_24px.png' class='m-auto' /> " + T("Wishlist"),
                            "UserWishList", "Profile",
                            new {userId = Model.UserInfo.Id},
                            new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                LoadingElementId = "LoadingPanel",
                                OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');",
                                OnComplete = "$('.nav-link').removeClass('active'); $(this).addClass('active')",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "placeholder",
                            }, new {@class = "nav-link white-space-initial" })
                    </li>
                }
                <li class="nav-item">
                    @Ajax.HtmlActionLink(
                        "<img src='/Content/img/comment_24px.png' class='m-auto' /> " + T("Comments"),
                        "UserComments", "Profile",
                        new {userId = Model.UserInfo.Id},
                        new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            LoadingElementId = "LoadingPanel",
                            OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');",
                            OnComplete = "$('.nav-link').removeClass('active'); $(this).addClass('active')",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "placeholder",
                        }, new {@class = "nav-link white-space-initial" })
                </li>
                <li class="nav-item">
                    @Ajax.HtmlActionLink(
                        "<img src='/Content/img/download_24px.png' class='m-auto' /> " + T("DownloadLogs"),
                        "UserDownloadLogs", "Profile",
                        new {userId = Model.UserInfo.Id},
                        new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            LoadingElementId = "LoadingPanel",
                            OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');",
                            OnComplete = "$('.nav-link').removeClass('active'); $(this).addClass('active')",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "placeholder",
                        }, new {@class = "nav-link white-space-initial" })
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-9">
            <div id="placeholder"></div>
        </div>
    </div>
</div>

@{
    Html.AddInlineScript(ResourceLocation.Footer, @<script>
                              $("#btn_Invoices").click();
                          </script>);
}