@using Devesprit.Core
@using reCaptcha
@model Devesprit.DigiCommerce.Models.Users.ResetPasswordModel
@{
    ViewBag.Title = T("ResetPassword");
    Layout = Html.GetCurrentThemeLayoutAddress(true);
    Html.AddHeadCustomParts("<meta name=\"robots\" content=\"noindex, nofollow\">");
    var workContext = DependencyResolver.Current.GetService<IWorkContext>();
    var currentLang = workContext.CurrentLanguage;
}

<div class="log-reg-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6">
                <div class="login-reg-box">
                    <div class="login-reg-head">
                        <h1 class="no-b-mar">
                            @T("ResetPassword")
                        </h1>
                        <a class="fs-12 text-warning" href="@Url.Action("Index", "Home")"><i class="far fa-arrow-alt-circle-@Html.Raw(currentLang.IsRtl ? "right" : "left")"></i> @T("ReturnHome")</a>
                    </div>
                    <p class="login-info-forgot-pass fs-14 text-justify">
                        @Html.Raw(T("ForgotPasswordDescStepTwo")):
                    </p>
                    @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "main-loginform" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.UserId)

                        @Html.ValidationMessageFor(p => p.Password, "", new { @class = "form-text text-danger fs-12" })
                        <div class="psssword-box">
                            @Html.PasswordFor(p => p.Password, new { placeholder = T("Password") })
                            <span toggle="#Password" class="fa fa-fw icon-visibility field-icon toggle-password"></span>
                        </div>

                        @Html.ValidationMessageFor(p => p.PasswordConfirm, "", new { @class = "form-text text-danger fs-12" })
                        <div class="psssword-box">
                            @Html.PasswordFor(p => p.PasswordConfirm, new { placeholder = T("ConfirmPassword") })
                            <span toggle="#PasswordConfirm" class="fa fa-fw icon-visibility field-icon toggle-password"></span>
                        </div>

                        if (ViewBag.publicKey != null)
                        {
                            <div class="d-block b-mar-5">
                                @ReCaptcha.GetHtml(ViewBag.publicKey, lang: Model.CurrentLanguage.IsoCode)
                            </div>

                            if (ViewBag.RecaptchaLastErrors != null)
                            {
                                <small class="form-text text-danger fs-12">@T("InvalidCaptcha")</small>
                            }
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <button type="submit" class="signin-btn">@T("ResetPassword")</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>