@using reCaptcha
@model Devesprit.DigiCommerce.Models.Users.ResetPasswordModel
@{
    ViewBag.Title = T("ResetPassword");

    
}

<div class="container t-mar-35">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="panel">
                <div class="panel-title pad-10">
                    <h5 class="no-mar">@T("ResetPassword")</h5>
                </div>
                <div class="fs-14 pad-20">
                    @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.UserId)
                        <div class="form-group">
                            @Html.LabelFor(p => p.Password)
                            @Html.PasswordFor(p => p.Password, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(p => p.Password, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.PasswordConfirm)
                            @Html.PasswordFor(p => p.PasswordConfirm, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(p => p.PasswordConfirm, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                        if (ViewBag.publicKey != null)
                        {
                            <div class="d-block b-mar-5">
                                @ReCaptcha.GetHtml(ViewBag.publicKey, lang: Model.CurrentLanguage.IsoCode)
                            </div>

                            if (ViewBag.RecaptchaLastErrors != null)
                            {
                                <small class="form-text text-danger fs-12">@T("InvalidCaptcha")</small>
                            }
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <button type="submit" class="btn btn-success d-block m-auto t-mar-20 b-mar-10">@T("ResetPassword")</button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
