@using System.Web.Mvc.Html
@using Devesprit.Core
@using Devesprit.DigiCommerce.Models
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.DigiCommerce.Models.Products
@using Devesprit.Utilities
@model Devesprit.DigiCommerce.Models.Products.ProductsExplorerModel

@{
    ViewBag.Title = T("NewestProductsIn", Model.CategoryName, Model.PageIndex);
    ViewBag.MetaDescription = ViewBag.Title;
    Html.AddHeadCustomParts("<meta name=\"robots\" content=\"index,follow\">");
    var workContext = DependencyResolver.Current.GetService<IWorkContext>();
    var pageMainUrl = Url.Action("FilterByCategory", "Product", new { page = Model.PageIndex, slug = Model.CategorySlug, lang = workContext.CurrentLanguage.IsoCode }, Request.Url.Scheme);
    Html.AddCanonicalUrlParts(pageMainUrl);
}

<!-- pro head slider -->
<header class="pro-head-slider">
    <div class="pro-head-slider-layer">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="pro-head-title pro-head-title-archive">
                        <a href="@Url.Action("Products", "RssFeed", new {listType = Model.PostsListType, catId = Model.FilterByCategoryId, fromDate = Model.FromDate}).RemoveEmptyParametersFromQueryString()" target="_blank" title="@T("RSSFeed")" class="text-warning"><i class="fa fa-rss"></i></a>
                        @Html.Raw(ViewBag.Title)
                    </h1>
                </div>
                <div class="col-12">
                    <ul class="breadcrumbs">
                        <li><a href="@Url.Action("Index", "Home")">@T("Home")</a></li>
                        <li>/</li>
                        <li><a href="@Url.Action("FilterByCategory", "Product", new {slug = Model.CategorySlug, lang = workContext.CurrentLanguage.IsoCode}, Request.Url.Scheme)">@Html.Raw(Model.CategoryName.Trim())</a></li>
                        <li>/</li>
                        <li><span>@Model.PageIndex</span></li>
                    </ul>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    @{Html.RenderPartial("Partials/_SearchBox");}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- category body -->
<div class="container">
    <div class="row mar-v-80">
        <div class="col-sm-12 col-md-5 col-lg-4">
            <h3 class="fs-18">
                <a href="@Url.Action("Products", "RssFeed", new {listType = ProductsListType.MostPopular, catId = Model.FilterByCategoryId, fromDate = Model.FromDate}).RemoveEmptyParametersFromQueryString()" target="_blank" title="@T("RSSFeed")" class="text-warning"><i class="fa fa-rss"></i></a>
                <span>@Html.Raw(T("MostPopularProductsIn", Model.CategoryName))</span>
            </h3>

            @{Html.RenderAction("GetProductsList", "Product", new
              {
                  listType = ProductsListType.MostPopular,
                  page = Model.PageIndex,
                  pageSize = 15,
                  catId = Model.FilterByCategoryId,
                  fromDate = Model.FromDate,
                  wrapperStart = "<div class='col-12'>",
                  style = ViewStyles.Small,
                  showPager = false
              });}
        </div>
        <div class="col-sm-12 col-md-7 col-lg-8">
            <div class="row">
                @{Html.RenderAction("GetProductsList", "Product", new
                  {
                      listType = Model.PostsListType,
                      page = Model.PageIndex,
                      pageSize = Model.PageSize,
                      catId = Model.FilterByCategoryId,
                      fromDate = Model.FromDate,
                      wrapperStart = "<div class='col-12 col-sm-6 col-lg-4 d-sm-flex justify-content-sm-center'>",
                      showPager = true
                  });}
            </div>
        </div>

    </div>
</div>