@using System.Web.Mvc.Html
@using Devesprit.DigiCommerce.Models
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.DigiCommerce.Models.Products
@using Devesprit.Utilities
@model Devesprit.DigiCommerce.Models.Products.ProductsExplorerModel

@{
    ViewBag.Title = T("NewestProductsIn", Model.CategoryName, Model.PageIndex);
    ViewBag.MetaDescription = ViewBag.Title;
    Html.AddHeadCustomParts("<meta name=\"robots\" content=\"index,follow\">");
}


<div class="row t-pad-20">
    <div class="col-12 col-lg-9">
        <h1 class="fs-20">
            <a href="@Url.Action("Products", "RssFeed", new {listType = Model.PostsListType, catId = Model.FilterByCategoryId, fromDate = Model.FromDate}).RemoveEmptyParametersFromQueryString()" target="_blank" title="@T("RSSFeed")" class="text-warning"><i class="fa fa-rss"></i></a>
            @Html.Raw(ViewBag.Title)
        </h1>

        @{Html.RenderAction("GetProductsList", "Product", new
            {
                listType = Model.PostsListType,
                page = Model.PageIndex,
                pageSize = Model.PageSize,
                catId = Model.FilterByCategoryId,
                fromDate = Model.FromDate,
                numberOfCol = NumberOfCol.One,
                style = ViewStyles.Large,
                showPager = true
            });}
    </div>
    <div class="col-12 col-lg-3">
        <h2 class="fs-14">
            <a href="@Url.Action("Products", "RssFeed", new {listType = ProductsListType.MostPopular, catId = Model.FilterByCategoryId, fromDate = Model.FromDate}).RemoveEmptyParametersFromQueryString()" target="_blank" title="@T("RSSFeed")" class="text-warning"><i class="fa fa-rss"></i></a>
            <span>@Html.Raw(T("MostPopularProductsIn", Model.CategoryName))</span>
        </h2>

        @{Html.RenderAction("GetProductsList", "Product", new
            {
                listType = ProductsListType.MostPopular,
                page = Model.PageIndex,
                pageSize = Model.PageSize,
                catId = Model.FilterByCategoryId,
                fromDate = Model.FromDate,
                numberOfCol = NumberOfCol.One,
                style = ViewStyles.Small,
                showPager = false
            });}
    </div>
</div>

