
@using Devesprit.DigiCommerce.Models
@using Devesprit.Services.Currency
@using Devesprit.Services.Localization
@model Devesprit.DigiCommerce.Models.Products.ProductCardDownloadModel

@{
    Layout = null;
}

@helper PurchaseBtnInnerHtml()
{
    <small>@Html.Raw(T("PurchaseNow"))</small>
    <br />
    <b>@Model.PriceForCurrentUser.ExchangeCurrencyStr()</b>
}

@helper UpgradeUserAccountBtnInnerHtml()
{
    if (Model.DownloadLimitedToUserGroup != null)
    {
        <img src="@Model.DownloadLimitedToUserGroup.GetLocalized(p => p.GroupLargeIcon)" class="d-block mx-auto b-mar-5 mw-100" />
        @Html.Raw(T("SubscribeToPlan",
            "<span style='color: "+Model.DownloadLimitedToUserGroup.GetLocalized(p => p.GroupTextColor)+" !important;'> "+
            Model.DownloadLimitedToUserGroup.GetLocalized(p => p.GroupName)+ "</span>"))
        <hr class="my-1" />
        <small>
            @Html.Raw(string.Format(Model.HigherUserGroupsCanDownload ?
                T("ForDownloadSubscribeToPlanOrHigher").ToString()
                : T("ForDownloadSubscribeToPlan").ToString(),
                "<span style='color: " + Model.DownloadLimitedToUserGroup.GetLocalized(p => p.GroupTextColor) + " !important;'>" +
                Model.DownloadLimitedToUserGroup.GetLocalized(p => p.GroupName) + "</span>"))
        </small>
    }
}

@{
    //Subscribe to a plan
    if (Model.DownloadLimitedToUserGroup != null)
    {
        <a href="@Url.Action("UpgradeAccount", "Purchase")"
           target="_blank"
           data-toggle="tooltip"
           data-html="true"
           title="@UpgradeUserAccountBtnInnerHtml().ToHtmlString()"
           class="btn btn-sm"
           style="background-color: @Model.DownloadLimitedToUserGroup.GetLocalized(p => p.GroupBackgroundColor);">
            <img src="@Model.DownloadLimitedToUserGroup.GetLocalized(p => p.GroupSmallIcon)" style="max-height: 20px" />
        </a>
    }

    //Purchase button
    if (Model.ShowPurchaseBtn)
    {
        @Ajax.HtmlActionLink("<i class='fa fa-shopping-cart'></i>", "PurchaseProductWizard", "Purchase", new {productId = Model.ProductId}, new AjaxOptions()
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "dlgProductPurchaseWizard",
            LoadingElementId = "LoadingPanel",
            LoadingElementDuration = 10,
            OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');"
        }, new {@class = "btn btn-success btn-sm", data_toggle = "tooltip", data_html = "true", title = PurchaseBtnInnerHtml().ToHtmlString()})
    }
}