@using System.Web.Mvc.Html
@using Devesprit.DigiCommerce.Models
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.Utilities
@using X.PagedList.Mvc
@model Devesprit.DigiCommerce.Models.Products.ProductsListModel
@{
    Layout = null;
}
@if (Model.PostsList.Any())
{
    <div class="row">
        @foreach (var post in Model.PostsList)
        {
            switch (Model.NumberOfCol)
            {
                case NumberOfCol.One:
                    @Html.Raw("<div class='col-12 py-2'>")
                    break;
                case NumberOfCol.Two:
                    @Html.Raw("<div class='col-12 col-sm-6 py-2'>")
                    break;
                case NumberOfCol.Three:
                    @Html.Raw("<div class='col-12 col-sm-6 col-lg-4 py-2'>")
                    break;
                case NumberOfCol.Four:
                    @Html.Raw("<div class='col-12 col-sm-6 col-lg-4 col-xl-3 py-2'>")
                    break;
            }
            switch (Model.ViewStyle)
            {
                case ViewStyles.Large:
                       Html.RenderPartial("Partials/_ProductLargeCardView", post);
                    break;
                case ViewStyles.Normal:
                    Html.RenderPartial("Partials/_ProductNormalCardView", post);
                    break;
                case ViewStyles.Small:
                    Html.RenderPartial("Partials/_ProductSmallCardView", post);
                    break;
            }
            @Html.Raw("</div>")
        }
    </div>
    if (Model.ShowPager)
    {
        <div class="row">
            <div class="col-12 t-mar-30">
                @Html.PagedListPager(Model.PostsList, page => Request.Url.ToString().BuildQueryStringUrl(new[] { "Page=" + page }).RemoveEmptyParametersFromQueryString(), new TwitterBootstrap4Pager())
                
                @*Url.Action("ProductsExplorer", "Product", new
                {
                listType = Model.PostsListType,
                page = page,
                pageSize = Model.PageSize,
                catId = Model.FilterByCategoryId,
                fromDate = Model.FromDate
                }).RemoveEmptyParametersFromQueryString()*@
            </div>
        </div>
    }
}
else
{
    <h5 class="text-center text-muted mar-v-150">
        <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
        <br />
        <br />
        @T("NoItemsToShow")
    </h5>
}