@using System.Web.Mvc.Html
@using Devesprit.Core
@using Devesprit.Core.Settings
@using Devesprit.DigiCommerce.Models
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.DigiCommerce.Models.Products
@using Devesprit.Services
@using Devesprit.Services.Localization
@using Devesprit.Services.SocialAccounts
@using Devesprit.Utilities.Extensions
@using Schema.NET
@{
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    var socialAccounts = DependencyResolver.Current.GetService<ISocialAccountsService>().GetAsEnumerable();
    var webSiteSchema = new WebSite()
    {
        Url = new Uri(settings.SiteUrl),
        Headline = settings.SiteName.ToString(),
        PotentialAction = new OneOrMany<IAction>(new SearchAction()
        {
            Target = new Uri(Url.Action("Index", "Search", new { Query = "{search_term_string}", Page = 1 }).GetAbsoluteUrl().UrlDecode()),
            QueryInput = "required name=search_term_string"
        }),
        Description = settings.SiteDescription.ToString(),
        Keywords = settings.MetaKeyWords.ToString(),
    };
    var organizationSchema = new Organization()
    {
        Url = new Uri(settings.SiteUrl),
        Description = settings.SiteDescription.ToString(),
        Name = settings.SiteName.ToString(),
        Email = settings.SiteEmailAddress,
        Logo = new Uri(settings.SiteLogoHeader.ToString().GetAbsoluteUrl()),
        SameAs = new OneOrMany<Uri>(socialAccounts.Select(p => new Uri(p.YourAccountUrl)).ToList()),

    };
    Html.AddHeadCustomParts("<meta name=\"robots\" content=\"index,follow\">");

    //Add Canonical Url
    var workContext = DependencyResolver.Current.GetService<IWorkContext>();
    var pageMainUrl = Url.Action("Index", "Home", new {lang = workContext.CurrentLanguage.IsoCode}, Request.Url.Scheme);
    Html.AppendCanonicalUrlParts(pageMainUrl);
}
@Html.Widget("home_page_start")
<div class="row t-pad-20">
    <div class="col-12 b-mar-70">
        <div class="text-center mb-3">
            <h2 class="mb-0">@T("NewestProductsWithoutPage")</h2>
            <a class="text-warning fs-12" href="@Url.Action("ProductsExplorer", "Product", new {listType = ProductsListType.Newest, page = 1})">@T("SeeMore")</a>
        </div>
        @{Html.RenderAction("GetProductsList", "Product", new
            {
                listType = ProductsListType.Newest,
                pageSize = 12,
                wrapperStart = "<div class='col-12 col-sm-6 col-lg-4 py-2'>",
                showPager = false
            });}
        <a class="btn btn-sm btn-secondary btn-block mt-2" href="@Url.Action("ProductsExplorer", "Product", new {listType = ProductsListType.Newest, page = 1})"><i class="fa fa-list"></i> @T("SeeMore")</a>
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-xl-3 b-mar-70">
        <div class="text-center mb-3">
            <h2 class="mb-0">@T("HotProductsWithoutPage")</h2>
            <a class="text-warning fs-12" href="@Url.Action("ProductsExplorer", "Product", new {listType = ProductsListType.HotList, page = 1})">@T("SeeMore")</a>
        </div>
        @{Html.RenderAction("GetProductsList", "Product", new
            {
                listType = ProductsListType.HotList,
                pageSize = 9,
                showPager = false,
                wrapperStart = "<div class='col-12 py-2'>",
                style = ViewStyles.Small
            });}
        <a class="btn btn-sm btn-secondary btn-block mt-2" href="@Url.Action("ProductsExplorer", "Product", new {listType = ProductsListType.HotList, page = 1})"><i class="fa fa-list"></i> @T("SeeMore")</a>
    </div>
    <div class="col b-mar-70">
        <div class="text-center mb-3">
            <h2 class="mb-0">@T("MostDownloadedProductsWithoutPage")</h2>
            <a class="text-warning fs-12" href="@Url.Action("ProductsExplorer", "Product", new {listType = ProductsListType.MostDownloaded, page = 1})">@T("SeeMore")</a>
        </div>
        @{Html.RenderAction("GetProductsList", "Product", new
            {
                listType = ProductsListType.MostDownloaded,
                pageSize = 5,
                showPager = false,
                wrapperStart = "<div class='col-12 py-2'>",
                style = ViewStyles.Large
            });}
        <a class="btn btn-sm btn-secondary btn-block mt-2" href="@Url.Action("ProductsExplorer", "Product", new {listType = ProductsListType.MostDownloaded, page = 1})"><i class="fa fa-list"></i> @T("SeeMore")</a>
    </div>
    @if (settings.EnableBlog)
    {
<div class="col-12 b-mar-70">
    <hr class="b-mar-70" />
    <div class="text-center mb-3">
        <h4 class="mb-0">@T("LatestBlogPosts")</h4>
        <a class="text-warning fs-12" href="@Url.Action("Index", "Blog")">@T("SeeMore")</a>
    </div>
    @{Html.RenderAction("GetBlogPostsList", "Blog", new
        {
            listType = PostsListType.Newest,
            pageSize = 4,
            showPager = false,
            wrapperStart = "<div class='col-12 col-sm-6 col-lg-4 col-xl-3 py-2'>",
            style = ViewStyles.Small
        }); }
    <a class="btn btn-sm btn-secondary btn-block mt-2" href="@Url.Action("Index", "Blog")"><i class="fa fa-list"></i> @T("SeeMore")</a>
</div>
    }
</div>
<script type="application/ld+json">
    @Html.Raw(webSiteSchema.ToHtmlEscapedString())
</script>
<script type="application/ld+json">
    @Html.Raw(organizationSchema.ToHtmlEscapedString())
</script>

@Html.Widget("home_page_end")

