@using Devesprit.Core
@{
    Layout = null;
    var isRtl = DependencyResolver.Current.GetService<IWorkContext>().CurrentLanguage.IsRtl;
}

<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6">
        <div class="login-reg-box text-center">
            <div class="login-reg-head">
                <h1>@T("Error404")</h1>
                <h5>@T("PageNotFound")</h5>
                <i class="fas fa-unlink text-warning mar-v-50" style="font-size: 200px;"></i>
                <p class="login-info">@Html.Raw(T("Error404Desc"))</p>
            </div>
            <button class="btn btn-warning btn-sm" role="button" onclick="window.history.go(-1);return false;">
                @if (isRtl)
                {
                    <i class="fas fa-chevron-circle-right"></i>
                }
                else
                {
                    <i class="fas fa-chevron-circle-left"></i>
                }
                @T("ReturnPrevious")
            </button>
            <a class="btn btn-warning btn-sm" href="@Url.Action("Index", "Home", new {area = ""}, null)">
                <i class="fas fa-home"></i>
                @T("ReturnHome")
            </a>
            @if (User != null && User.Identity.IsAuthenticated && User.IsInRole("Admin") && !string.IsNullOrWhiteSpace(ViewBag.ErrorCode))
            {
                <a class="btn btn-danger btn-sm" target="_blank" href="/elmah.axd/detail?id=@ViewBag.ErrorCode">@T("SeeDetails")</a>
            }
        </div>
    </div>
</div>

