@using Devesprit.Services.Localization
@using Devesprit.Services.Pages
@using Devesprit.Core.Settings
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.Services
@using Devesprit.Services.SocialAccounts
@{
    Layout = null;
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    var pagesService = DependencyResolver.Current.GetService<IPagesService>();
    var socialAccountsService = DependencyResolver.Current.GetService<ISocialAccountsService>();
    var retUrl = string.IsNullOrWhiteSpace(Request.QueryString["returnUrl"]) ?
         Request.Url.PathAndQuery : Request.QueryString["returnUrl"];
}

<div class="top-menu persiaNumber">
    <div class="container">
        <div class="top-menu-items">
            <ul class="list-top-menu">
                <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="fas fa-home"></i> @T("Home")</a></li>
                @if (settings.EnableBlog)
                {
                    <li>
                        <a href="@Url.Action("Index", "Blog", new {area = ""})"><i class="fas fa-blog"></i> @T("Blog")</a>
                    </li>
                }
                @foreach (var page in pagesService.GetPagesMustShowInUserMenuBar().OrderBy(p => p.GetLocalized(x => x.Title)))
                {
                    <li>
                        <a href="@Url.Action("Index", "Page", new {slug=page.Slug, area = ""})">@page.GetLocalized(p => p.Title)</a>
                    </li>
                }
                <li><a href="@Url.Action("Index", "ContactUs", new {area = ""})"><i class="fas fa-phone"></i> @T("ContactUs")</a></li>
                <li>
                    <a href="@Url.Action("Index", "RssFeed", new {listType = PostsListType.Newest, area = ""})" target="_blank" title="@T("RSSFeed")">
                        <i class="fas fa-rss"></i> @T("RSSFeed")
                    </a>
                </li>
            </ul>
            <ul class="list-top-menu-register">
                @if (User != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Administration", new { area = "Admin" })">
                            <i class="fas fa-user-cog"></i> @T("Administration")
                            @{ Html.RenderAction("GetAdminUnreadedNotificationsCount", "Notifications", new { area = "Admin" }); }
                        </a>
                    </li>
                    if (!string.IsNullOrWhiteSpace(ViewBag.AdminEditCurrentPage))
                    {
                        <li>
                            <a onclick="@ViewBag.AdminEditCurrentPage" href="#">
                                <i class="fas fa-edit"></i> @T("EditCurrentPage")
                            </a>
                        </li>
                    }
                }
                @if (User != null && User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Index", "Profile", new {area = ""})">
                            <i class="fas fa-user-circle"></i> @T("MyProfile")
                        </a>
                    </li>
                    using (Html.BeginForm("LogOff", "User", new { area = "" }, FormMethod.Post, new { id = "userMenuBarLogoutForm", @class = "d-inline" }))
                    {
                        <li>
                            <a href="javascript:document.getElementById('userMenuBarLogoutForm').submit()">
                                <i class="fas fa-sign-out-alt"></i> @T("Logout")
                            </a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Login", "User", new {returnUrl = retUrl, area = ""})">
                            <i class="fas fa-sign-in-alt"></i> @T("Login")
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SignUp", "User", new {area = ""})">
                            <i class="fas fa-user-plus"></i> @T("Signup")
                        </a>
                    </li>
                }
                <li>
                    @{ Html.RenderPartial("Partials/_LanguageDropDown"); }
                </li>
                <li>
                    @{ Html.RenderPartial("Partials/_CurrentCurrencyDropDown"); }
                </li>
            </ul>
        </div>
    </div>
</div>
