
@using Devesprit.Core
@using Devesprit.Utilities
@using Devesprit.Services.Languages
@using Devesprit.Core.Settings
@using Devesprit.Services

@{
    Layout = null;
    var languageService = DependencyResolver.Current.GetService<ILanguagesService>();
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    var workContext = DependencyResolver.Current.GetService<IWorkContext>();
    var allLanguages = languageService.GetAsEnumerable().ToList();
    var targetPath = Request.Url.PathAndQuery.TrimStart('/');

    foreach (var language in allLanguages)
    {
        if (targetPath.StartsWith(language.IsoCode, StringComparison.OrdinalIgnoreCase))
        {
            targetPath = targetPath.Remove(0, language.IsoCode.Length).TrimStart('/');
            break;
        }
    }

    var hostRoot = $"{Request.Url.Scheme}://{Request.Url.Authority}";
    var targetUrlMask = settings.AppendLanguageCodeToUrl ? $"{hostRoot}/{{0}}/{targetPath.TrimStart('/')}" : $"{hostRoot}/{targetPath.TrimStart('/')}";

    var curLang = workContext.CurrentLanguage;
}

@if (allLanguages.Count > 1)
{
    <div class="btn-group btn-group-xs lang-dropdown">
        <button title="@T("ChangeLanguage")" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="@curLang.Icon.ByteArrayToBase64Image()" alt="@curLang.LanguageName" />
            @curLang.LanguageName
        </button>
        <div class="dropdown-menu dropdown-menu-xs">
            @foreach (var item in allLanguages)
            {
                var targetUrl = string.Format(targetUrlMask, item.IsoCode);
                <form method="post" action="@targetUrl">
                    <input type="hidden" name="usl" value="@item.IsoCode" />
                    <button class="dropdown-item dropdown-item-xs" type="submit">
                        <img src="@item.Icon.ByteArrayToBase64Image()" alt="@item.LanguageName" />
                        @item.LanguageName
                    </button>
                </form>
            }
        </div>
    </div>
}
