@using Devesprit.Data.Domain
@using Devesprit.Services.Localization
@using Devesprit.Services.NavBar
@using Devesprit.Core.Settings
@using Devesprit.Data.Enums
@using Devesprit.Services
@{
    Layout = null;
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    List<TblNavBarItems> navbarItems;
    if (Request.RequestContext.RouteData.Values["controller"].ToString().ToLower().Trim().Contains("blog"))
    {
        navbarItems = DependencyResolver.Current.GetService<INavBarService>().GetAsEnumerable().Where(p=> p.DisplayArea == DisplayArea.Both ||
                                                                                                          p.DisplayArea == DisplayArea.BlogSection).ToList();
    }
    else
    {
        navbarItems = DependencyResolver.Current.GetService<INavBarService>().GetAsEnumerable().Where(p => p.DisplayArea == DisplayArea.Both ||
                                                                                                           p.DisplayArea == DisplayArea.ProductsSection).ToList();
    }
}

@functions
{
    string GenerateMenu(List<TblNavBarItems> navbarItems, int? currentParentId)
    {
        var result = "";
        foreach (var navbarItem in navbarItems.Where(p => p.ParentItemId == currentParentId).OrderBy(p => p.Index))
        {
            var itemIcon = navbarItem.GetLocalized(p => p.Icon);
            var itemOnClickJs = navbarItem.GetLocalized(p => p.OnClickJs);
            var iconTag = string.IsNullOrWhiteSpace(itemIcon) ? "" : $"<i class=\'{itemIcon}\'></i> ";
            var onClickScript = string.IsNullOrWhiteSpace(itemOnClickJs) ? "" : $" onclick=\"{itemOnClickJs}\" ";
            var isFirstLevel = navbarItem.ParentItemId == null;
            var dropdownliClass = (isFirstLevel ? "nav-item dropdown" : "dropdown-submenu");
            var liClass = (isFirstLevel ? "class='nav-item'" : "");
            var aClass = (isFirstLevel ? "nav-link" : "dropdown-item");

            if (navbarItems.Any(p => p.ParentItemId == navbarItem.Id))
            {
                result += $@"<li class='{dropdownliClass}'>
        <a class='{aClass} dropdown-toggle'
           data-toggle='dropdown'
           aria-haspopup='true'
           aria-expanded='false'
           href='{navbarItem.GetLocalized(p => p.Url)}'
           target='{navbarItem.Target}'
           title='{navbarItem.GetLocalized(p => p.Tooltip)}'
           {onClickScript}>
            {iconTag}
            {navbarItem.GetLocalized(p => p.InnerHtml)}
        </a>
        <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
            {GenerateMenu(navbarItems, navbarItem.Id)}
        </ul>
    </li>";
            }
            else
            {
                result += $@"<li {liClass}>
    <a class='{aClass}'
       href='{navbarItem.GetLocalized(p => p.Url)}'
       target='{navbarItem.Target}'
       title='{navbarItem.GetLocalized(p => p.Tooltip)}'
       {onClickScript}>
        {iconTag}
        {navbarItem.GetLocalized(p => p.InnerHtml)}
    </a>
 </li>";
            }
        }

        return result;
    }
}

<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container">
        <a class="navbar-brand" id="navbar-brand" href="@Url.Action("Index", "Home")">
            @if (!settings.GetLocalized(p => p.SiteLogoNavigationBar).IsNullOrWhiteSpace())
            {
                <img src="@settings.GetLocalized(p => p.SiteLogoNavigationBar)" alt="@settings.GetLocalized(p=> p.SiteName)" />
            }
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-links">
                @Html.Raw(GenerateMenu(navbarItems, null))
            </ul>
            <div class="form-inline my-1 my-md-0">
                @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "search-box", novalidate = "novalidate" }))
                {
                    <input id="txtSearch" type="text" name="query" class="form-control form-control-sm " placeholder="@T("Search")" data-val="true" data-val-required="" />
                }
                <a class="btn btn-success btn-sm text-light shopping-cart-btn" href="@Url.Action("Index", "Invoice", new {id = ""})">
                    <span id="lblNumberOfItemsInShoppingCart" class="badge badge-danger">@ViewData["InvoiceItemsCount"]</span> <i class="fa fa-shopping-cart"></i> &nbsp;&nbsp;&nbsp; @T("MyShoppingCart")
                </a>
            </div>
        </div>
    </div>
</nav>

@{
    Html.AddInlineScript(ResourceLocation.Footer,
        @<script>
             var options = {
                 url: function(phrase) {
                     return "@Url.Action("SearchSuggestion", "Search")?query=" + phrase;
                 },
                 requestDelay: 400,
                 theme: "plate-dark",
                 getValue: "value",
                 adjustWidth: false,
                 list: {
                     onClickEvent: function () {
                         window.location.href =  $("#txtSearch").getSelectedItemData().data;
                     },
                     showAnimation: {
                         type: "fade",
                         time: 400,
                         callback: function() {}
                     },

                     hideAnimation: {
                         type: "slide",
                         time: 400,
                         callback: function() {}
                     }
                 }
             };
             $('#txtSearch').easyAutocomplete(options);
         </script>);
}