@using Devesprit.Services.Localization
@using Devesprit.Services.Pages
@using Devesprit.Core.Settings
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.Services
@using Devesprit.Services.SocialAccounts
@{
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    var pagesService = DependencyResolver.Current.GetService<IPagesService>();
    var socialAccountsService = DependencyResolver.Current.GetService<ISocialAccountsService>();
    var retUrl = string.IsNullOrWhiteSpace(Request.QueryString["returnUrl"]) ?
         Request.Url.PathAndQuery : Request.QueryString["returnUrl"];
}
@if (User != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a href="@Url.Action("Index", "Administration", new { area = "Admin" })" class="btn btn-warning btn-xs text-light admin-btn">
        <i class="fa fa-cog"></i> @T("Administration")
        @{ Html.RenderAction("GetAdminUnreadedNotificationsCount", "Notifications", new {area="Admin"}); }
    </a>
    if (!string.IsNullOrWhiteSpace(ViewBag.AdminEditCurrentPage))
    {
        <a onclick="@ViewBag.AdminEditCurrentPage" class="btn btn-success btn-xs text-light edit-this-page-btn">
            <i class="fa fa-pencil-square-o "></i> @T("EditCurrentPage")
        </a>
    }
}

<div class="container-fluid user-menu-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center-xs text-center-sm text-left-md">

                @{
                    Html.RenderPartial("Partials/_LanguageDropDown");
                    Html.RenderPartial("Partials/_CurrentCurrencyDropDown");
                }

                <a href="@Url.Action("Index", "Home", new { area = "" })" class="link-item d-none d-sm-inline"><i class="fa fa-home"></i> @T("Home")</a>
                @if (User != null && User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Index", "Profile", new { area = "" })" class="link-item">
                        <i class="fa fa-user-circle-o"></i> @T("MyProfile")
                    </a>
                    using (Html.BeginForm("LogOff", "User", new { area = "" }, FormMethod.Post, new { id = "userMenuBarLogoutForm", @class = "d-inline" }))
                    {
                        <a href="javascript:document.getElementById('userMenuBarLogoutForm').submit()" class="link-item">
                            <i class="fa fa-sign-out"></i> @T("Logout")
                        </a>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "User", new { returnUrl = retUrl, area = "" })" class="link-item">
                        <i class="fa fa-sign-in"></i> @T("Login")
                    </a>
                    <a href="@Url.Action("SignUp", "User", new { area = "" })" class="link-item">
                        <i class="fa fa-user-plus"></i> @T("Signup")
                    </a>
                }
                @if (settings.EnableBlog)
                {
                    <a href="@Url.Action("Index", "Blog", new {area = ""})" class="link-item d-none d-sm-inline"><i class="fa fa-globe"></i> @T("Blog")</a>
                }
                <a href="@Url.Action("Index", "ContactUs", new {area = ""})" class="link-item d-none d-sm-inline"><i class="fa fa-phone"></i> @T("ContactUs")</a>
                @foreach (var page in pagesService.GetPagesMustShowInUserMenuBar().OrderBy(p => p.GetLocalized(x => x.Title)))
                {
                    <a href="@Url.Action("Index", "Page", new {slug=page.Slug, area = ""})" class="link-item d-none d-md-inline">@page.GetLocalized(p => p.Title)</a>
                }
            </div>
            <div class="col-lg-4 d-none d-lg-inline social-holder">
                @foreach (var socialAccount in socialAccountsService.GetAsEnumerable())
                {
                    <a href="@socialAccount.GetLocalized(x => x.YourAccountUrl)" target="_blank" title="@socialAccount.GetLocalized(x => x.SocialNetworkName)" class="link-item mx-0"><img src="@socialAccount.GetLocalized(x=> x.SocialNetworkIconUrl)" alt="@socialAccount.GetLocalized(x => x.SocialNetworkName)"/></a>
                }
                <a href="@Url.Action("Index", "RssFeed", new {listType = PostsListType.Newest, area = ""})" target="_blank" class="link-item mx-0" title="@T("RSSFeed")">
                    <img src="/Content/img/rss_20px.png" alt="@T("RSSFeed")" />
                </a>
            </div>
        </div>
    </div>
</div>
