@model Plugin.DiscountCode.Models.ApplyDiscountCodeViewModel
@using Devesprit.Data.Enums
<div class="invoice-bg pad-5">
    <span>@T("Plugin.DiscountCode.DiscountCode"):</span>
    @if (Model.InvoiceStatus == InvoiceStatus.Pending)
    {
        using (Ajax.BeginForm("ApplyDiscountCode", "DiscountCode", new { Namespaces  = "Plugin.DiscountCode.Controllers", area = ""}, new AjaxOptions()
        {
            HttpMethod = "POST",
            UpdateTargetId = "InvoiceTblHolder",
            LoadingElementId = "LoadingPanel",
            OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p=> p.InvoiceId)
            <div class="input-group input-group-sm">
                @Html.TextBoxFor(p => p.DiscountCode, new { @class = "form-control form-control-sm" })
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-sm" type="submit">@T("Apply")</button>
                </div>
            </div>
        }

        if (TempData["discountCodeError"] != null && !string.IsNullOrWhiteSpace(TempData["discountCodeError"].ToString()))
        {
            <small class="text-danger">@Html.Raw(TempData["discountCodeError"].ToString())</small>
        }
    }
    else
    {
        @Html.TextBoxFor(p => p.DiscountCode, new { @class = "form-control form-control-sm", @readonly = "readonly" })
    }
</div>