@using Devesprit.Core.Settings
@using Devesprit.Services
@using Devesprit.Utilities
@using Devesprit.Utilities.Extensions
@model Devesprit.DigiCommerce.Models.Post.PostCardViewModel
@{
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    Layout = null;
}


<article class="pro-slider-content archive-post-item">
    <div class="pro-slider-logo b-mar-5">
        @if (Model.IsFeatured)
        {
            <p class="post-card-ribbon" title="@T("Featured")"><i class="fas fa-star"></i></p>
        }
        <img alt="@Model.Title" class="lazy" src="~/Content/img/Loading_Large.gif" data-src="@Model.MainImageUrl">
        <a href="@Model.PostUrl" class="pro-slider-logo-layer">
            <div class="text-center">
                @if (settings.Wishlist || settings.LikePosts)
                {
                    Html.RenderAction("LikeWishlistButtonsPartialView", "Post", new { model = Model.LikeWishlistButtonsModel });
                }
                else
                {
                    <i class="fas fa-plus text-light"></i>
                }

                <ul class="rate-pro-slider persiaNumber">
                    <li title="@T("Visits"): @Model.NumberOfViews.ToString("##,###")">
                        <i class="fa fa-eye"></i> @Model.NumberOfViews.FormatNumber()
                    </li>
                    <li title="@T("LastUpdate", Model.LastUpDate.TimeAgo())">
                        <i class="fa fa-clock"></i> @Model.LastUpDate.ToString("yyyy/MM/dd")
                    </li>
                    @if (settings.LikePosts)
                    {
                        <li title="@T("Likes"): @Model.NumberOfLikes.ToString("##,###")">
                            <i class="fa fa-heart"></i> @Model.NumberOfLikes.FormatNumber()
                        </li>
                    }
                </ul>
            </div>
        </a>
    </div>
    <span class='slider-pro-items-category'>
        <i class="fas fa-th-list" title="@T("Categories")"></i>
        @Html.Raw(string.Join(", ",
            Model.Categories.Select(p =>
                "<a href=" + p.CategoryUrl + " target='_blank'>" + p.CategoryName + "</a>").ToList()))
    </span>
    <h3 class="@Html.Raw(Model.Title.IsRtlLanguage() ? "rtl-dir text-right" : "ltr-dir text-left") t-mar-5">
        <a href="@Model.PostUrl" title="@Model.DescriptionTruncated.ConvertHtmlToText()" class="slider-pro-items-name">@Html.Raw(Model.Title)</a>
    </h3>
</article>