@using Devesprit.WebFramework.Helpers
@model Devesprit.DigiCommerce.Areas.Admin.Models.SendMessageModel
@{
    Layout = Html.GetCurrentThemeAdminAreaLayoutAddress(true);
}

<div class="container">
    <div class="panel pad-20 mar-v-35  fs-14">
        @using (Html.BeginForm("SendMessageToUser", "Notifications", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.Recipient)
                        @Html.TextBoxFor(p => p.Recipient, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(p => p.Recipient, "", new { @class = "form-text text-danger fs-12" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.Message)
                        @Html.TextAreaFor(p => p.Message, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(p => p.Message, "", new { @class = "form-text text-danger fs-12" })
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" }).ToMvcHtmlString()

            <div class="text-center t-mar-20">
                <button type="submit" class="btn btn-sm btn-warning">@T("Save")</button>
                <button type="button" onclick="window.close();" class="btn btn-sm btn-success">@T("Close")</button>
            </div>
        }
    </div>
</div>