@using Devesprit.Core
@model Devesprit.DigiCommerce.Models.Profile.ChangePasswordModel
@{
    ViewBag.Title = T("ChangePassword");
    var currentLang = DependencyResolver.Current.GetService<IWorkContext>().CurrentLanguage;

    Html.AddHeadCustomParts("<meta name=\"robots\" content=\"noindex,nofollow\">");
}

<div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="panel-box">
                    <h5 class="no-mar">
                        <a href="@Url.Action("UpdateProfile", "Profile")" class="text-warning"><i class="far fa-caret-square-@Html.Raw(currentLang.IsRtl ? "right" : "left")"></i></a>
                        @T("ChangePassword")
                    </h5>
                    <div class="row pad-h-20">
                        <div class="col-12 t-mar-20 fs-14">
                            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(p => p.Id)

                            <div class="form-group b-mar-5">
                                @Html.LabelFor(p => p.CurrentPassword)
                                @Html.ValidationMessageFor(p => p.CurrentPassword, "", new { @class = "form-text text-danger fs-12" })
                                @Html.PasswordFor(p => p.CurrentPassword, null)
                            </div>
                                <div class="form-group b-mar-5">
                                    @Html.LabelFor(p => p.NewPassword)
                                    @Html.ValidationMessageFor(p => p.NewPassword, "", new { @class = "form-text text-danger fs-12" })
                                    @Html.PasswordFor(p => p.NewPassword, null)
                                </div>
                                <div class="form-group b-mar-5">
                                    @Html.LabelFor(p => p.PasswordConfirm)
                                    @Html.ValidationMessageFor(p => p.PasswordConfirm, "", new { @class = "form-text text-danger fs-12" })
                                    @Html.PasswordFor(p => p.PasswordConfirm, null)
                                </div>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="text-center t-mar-40">
                                    <button type="submit" class="btn-custom-warning">@T("Update")</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

