@using Devesprit.Core
@using Devesprit.Core.Settings
@using Devesprit.Services
@using Devesprit.Services.Languages
@using Devesprit.Services.Localization
@using Devesprit.Utilities.Extensions
@using Devesprit.WebFramework.Helpers

@{
    Layout = null;
    var currentLang = DependencyResolver.Current.GetService<IWorkContext>().CurrentLanguage;
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    var allLanguagesIso = DependencyResolver.Current.GetService<ILanguagesService>().GetAllLanguagesIsoList();
    var defaultLanguage = DependencyResolver.Current.GetService<ILanguagesService>().GetDefaultLanguage();


    //Java scripts
    if (currentLang.IsRtl)
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/RTL/GeneralScript.rtl.js");
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/RTL/persianumber.min.js");
    }
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/GeneralScript.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/iziToast.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/lazyload-12.0.0/dist/lazyload.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Content/SmartWizard-master/dist/js/jquery.smartWizard.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/jstree.min.js");
    if (currentLang.IsRtl)
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/RTL/main.js");
    }
    else
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/LTR/main.js");
    }
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/swiper.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/jquery.unobtrusive-ajax.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/jquery.validate.unobtrusive.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/jquery.validate.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/bootstrap.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/jquery-3.4.1.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/DownloadDevTools/Scripts/modernizr-3.8.0.min.js");



    //CSS
    if (currentLang.IsRtl)
    {
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/RTL/main.css");
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/RTL/fontiran.css");
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/RTL/all.css");
    }
    else
    {
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/LTR/main.css");
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/LTR/fontiran.css");
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/LTR/all.css");
    }
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/HelperStyles.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/swiper.min.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/jstree.min.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/SmartWizard-master/dist/css/smart_wizard.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/iziToast.min.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/normalize.css");
    if (currentLang.IsRtl)
    {
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/RTL/bootstrap-rtl.min.css");
    }
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/DownloadDevTools/Content/bootstrap.min.css");
}

<!DOCTYPE html>

<html class="no-js" lang="@currentLang.IsoCode">
<head>
    <meta charset="utf-8">
    <title>@Html.Raw(ViewBag.Title ?? settings.GetLocalized(x => x.SiteName))</title>
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription ?? (ViewBag.Title ?? settings.GetLocalized(x => x.SiteName)))">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Devesprit DigiCommerce" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

    @if (settings.AppendLanguageCodeToUrl)
    {
        <link rel="alternate" hreflang="x-default" href="@HttpUtility.UrlPathEncode(Request.Url.SetLangIso(defaultLanguage.IsoCode, allLanguagesIso).ToString())" />
    }
    else
    {
        <link rel="alternate" hreflang="x-default" href="@HttpUtility.UrlPathEncode(Request.Url.RemoveLangIso(allLanguagesIso).ToString())" />
    }
    @foreach (var lang in allLanguagesIso)
    {
        <link rel="alternate" hreflang="@lang" href="@HttpUtility.UrlPathEncode(Request.Url.SetLangIso(lang, allLanguagesIso).ToString())" />
    }

    @Html.GenerateHeadCustom()

    @Html.GenerateCssFiles(Url, ResourceLocation.HeaderBeforeOther)
    @Html.GenerateCssFiles(Url, ResourceLocation.Header)
    @Html.GenerateCssFiles(Url, ResourceLocation.HeaderAfterOther)

    @Html.GenerateScripts(Url, ResourceLocation.HeaderBeforeOther)
    @Html.GenerateScripts(Url, ResourceLocation.Header)
    @Html.GenerateScripts(Url, ResourceLocation.HeaderAfterOther)

    @Html.GenerateCanonicalUrls()

    @Html.Widget("head_tag")
</head>
<body>
    @Html.Widget("body_tag_start")

    @RenderBody()

    <a href="#" id="back-to-top" title="@T(" BackToTop")"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    <div id="dlgProductPurchaseWizard"></div>
    @Html.Partial("Partials/_LoadingPanel")

    @Html.Partial("Partials/_Notifications")

    @{
        Html.AddInlineScript(ResourceLocation.Footer,
@<script>
    function OnAddPostToWishlistButtonClick(event, postId, alreadyAddedToWishlist) {
        event.preventDefault();
                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("AddPostToWishlist", "Post")',
                     data: {
                         postId: postId
                     },
                     error: function(xhr, status, error) {
                         ErrorAlert('@T("Error")', '@T("ServerConnectionError")');
                         if (alreadyAddedToWishlist === true) {
                             $('.btnAddedToWishlist_' + postId).html('<i class="fas fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).addClass('like-btn-active');
                         } else {
                             $('.btnAddedToWishlist_' + postId).html('<i class="far fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).removeClass('like-btn-active');
                         }
                     },
                     success: function (data) {
                         if (data.response === 'add') {
                             $('.btnAddedToWishlist_' + postId).html('<i class="fas fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).addClass('like-btn-active');
                             return;
                         }
                         else if (data.response === 'remove') {
                             $('.btnAddedToWishlist_' + postId).html('<i class="far fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).removeClass('like-btn-active');
                             return;
                         }
                         else if (data.response === 'mustLogin') {
                             ErrorAlert('@T("Error")', '@T("ToPerformOperationPleaseLogin")');
                         }

                         if (alreadyAddedToWishlist === true) {
                             $('.btnAddedToWishlist_' + postId).html('<i class="fas fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).addClass('like-btn-active');
                         } else {
                             $('.btnAddedToWishlist_' + postId).html('<i class="far fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).removeClass('like-btn-active');
                         }
                     },
                     beforeSend: function() {
                         $('.btnAddedToWishlist_'+postId).html('<i class="fa fa-spinner fa-spin"></i>');
                     }
                 });
             }


    function OnLikeButtonClick(event, postId, alreadyLiked) {
        event.preventDefault();
                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("LikePost", "Post")',
                     data: {
                         postId: postId
                     },
                     error: function(xhr, status, error) {
                         ErrorAlert('@T("Error")', '@T("ServerConnectionError")');
                         if (alreadyLiked === true) {
                             $('.btnLike_' + postId).html('<i class="fas fa-heart"></i>');
                             $('.btnLike_' + postId).addClass('like-btn-active');
                         } else {
                             $('.btnLike_' + postId).html('<i class="far fa-heart"></i>');
                             $('.btnLike_' + postId).removeClass('like-btn-active');
                         }
                     },
                     success: function (data) {
                         if (data.response === 'add') {
                             $('.btnLike_' + postId).html('<i class="fas fa-heart"></i>');
                             $('.btnLike_' + postId).addClass('like-btn-active');
                             return;
                         }
                         else if (data.response === 'remove') {
                             $('.btnLike_' + postId).html('<i class="far fa-heart"></i>');
                             $('.btnLike_' + postId).removeClass('like-btn-active');
                             return;
                         }
                         else if (data.response === 'mustLogin') {
                             ErrorAlert('@T("Error")', '@T("ToPerformOperationPleaseLogin")');
                         }

                         if (alreadyLiked === true) {
                             $('.btnLike_' + postId).html('<i class="fas fa-heart"></i>');
                             $('.btnLike_' + postId).addClass('like-btn-active');
                         } else {
                             $('.btnLike_' + postId).html('<i class="far fa-heart"></i>');
                             $('.btnLike_' + postId).removeClass('like-btn-active');
                         }
                     },
                     beforeSend: function() {
                         $('.btnLike_'+postId).html('<i class="fa fa-spinner fa-spin"></i>');
                     }
                 });
             }
</script>, true);
    }

    @Html.GenerateCssFiles(Url, ResourceLocation.FooterBeforeOther)
    @Html.GenerateCssFiles(Url, ResourceLocation.Footer)
    @Html.GenerateCssFiles(Url, ResourceLocation.FooterAfterOther)

    @Html.GenerateScripts(Url, ResourceLocation.FooterBeforeOther)
    @Html.GenerateScripts(Url, ResourceLocation.Footer)
    @Html.GenerateScripts(Url, ResourceLocation.FooterAfterOther)

    @Html.Widget("body_tag_end")
</body>
</html>