@using System.Web.Mvc.Html
@using Devesprit.WebFramework
@model Plugin.PaymentMethod.Zarinpal.Models.ZarinPalSettingsModel

<div class="container">
    <div class="panel mar-v-35">
        <div class="panel-title pad-10">
            <h5 class="no-mar">@T("Plugin.PaymentMethod.Zarinpal.ZarinpalConfig")</h5>
        </div>
        <div class="fs-14 pad-20">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(p => p.MerchantId)
                            @Html.TextBoxFor(p => p.MerchantId, null, new { @class = "form-control form-control-sm ltr-dir" })
                            @Html.ValidationMessageFor(p => p.MerchantId, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(p => p.ZarinpalWebserviceUrl)
                            @Html.TextBoxFor(p => p.ZarinpalWebserviceUrl, null, new { @class = "form-control form-control-sm ltr-dir" })
                            @Html.ValidationMessageFor(p => p.ZarinpalWebserviceUrl, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(p => p.ZarinpalPaymentPageUrl)
                            @Html.TextBoxFor(p => p.ZarinpalPaymentPageUrl, null, new { @class = "form-control form-control-sm ltr-dir" })
                            @Html.ValidationMessageFor(p => p.ZarinpalPaymentPageUrl, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                    </div>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" }).ToMvcHtmlString()

                <div class="text-center t-mar-20">
                    <button type="submit" class="btn btn-sm btn-warning">@T("Save")</button>
                    <button type="button" onclick="window.close();" class="btn btn-sm btn-success">@T("Close")</button>
                </div>
            }
        </div>
    </div>
</div>