@using Devesprit.WebFramework.Helpers
@model Devesprit.DigiCommerce.Areas.Admin.Models.PostCategoryModel
@{
    Layout = null;
}

    <div class="card">
        <div class="card-header">
            @ViewBag.EditorTitle
        </div>
        <div class="card-body fs-14">
            @using (Ajax.BeginForm("Save", "ManagePostCategories", new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "editor-place-holder",
                LoadingElementId = "LoadingPanel",
                OnFailure = "ErrorAlert('" + T("Error") + "', '" + T("ServerConnectionError") + "');"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(p => p.Id)
                @Html.HiddenFor(p => p.ParentCategoryId)
                @Html.HiddenFor(p => p.DisplayOrder)

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(p => p.CategoryName)
                            @Html.LocalizedTextBoxFor(p => p.CategoryName, null, new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(p => p.CategoryName, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Slug)
                            @Html.TextBoxFor(p => p.Slug, new { @class = "form-control form-control-sm ltr-dir", placeholder = "test-page" })
                            @Html.ValidationMessageFor(p => p.Slug, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(p => p.DisplayOrder)
                            @Html.TextBoxFor(p => p.DisplayOrder, new { @class = "form-control form-control-sm ltr-dir", type = "number" })
                            @Html.ValidationMessageFor(p => p.DisplayOrder, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group no-b-mar">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(p => p.ShowInFooter, new { @class = "custom-control-input" })
                                @Html.LabelFor(p => p.ShowInFooter, new { @class = "custom-control-label" })
                            </div>
                            @Html.ValidationMessageFor(p => p.ShowInFooter, "", new { @class = "form-text text-danger fs-12" })
                        </div>
                    </div>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" }).ToMvcHtmlString()

                <div class="text-center t-mar-10">
                    <button type="submit" class="btn btn-warning">@T("Save")</button>
                    <button type="button" class="btn btn-success" onclick="DestroyEditor()">@T("Close")</button>
                </div>
            }
        </div>
    </div>
