
@using Devesprit.Core
@using Devesprit.Services.Currency
@using Devesprit.Utilities
@using Devesprit.Services.Localization

@{
    Layout = null;
    var currencyService = DependencyResolver.Current.GetService<ICurrencyService>();
    var workContext = DependencyResolver.Current.GetService<IWorkContext>();
    var allCurrencies = currencyService.GetAsEnumerable().ToList();

    var curCurrency = workContext.CurrentCurrency;
}

@if (allCurrencies.Count > 1)
{
    <select class="custom-select custom-select-pay" placeholder="<i class='fas fa-dollar-sign mar-h-5'></i> @curCurrency.GetLocalized(p=> p.ShortName)">
        @foreach (var item in allCurrencies)
        {
            <option value="@item.IsoCode" onclick="ChangeCurrency('@item.IsoCode', '@Request.RawUrl');">
                @Html.Raw(item.GetLocalized(x => x.ShortName))
            </option>
        }
    </select>

    Html.AddInlineScript(ResourceLocation.Footer,
        @<script>
             function ChangeCurrency(selectedCurrency, returnUrl) {
                 $.ajax({
                     type: "POST",
                     url: returnUrl,
                     data: { usc: selectedCurrency },
                     success: function() {
                         location.reload();
                     }
                 });
             }
         </script>, true);
}
