@using Devesprit.Core.Settings
@using Devesprit.DigiCommerce.Models.Search
@using Devesprit.Services
@using Devesprit.WebFramework.Helpers
@model Devesprit.DigiCommerce.Models.Search.SearchTermModel
@{
    Layout = null;
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
}

<div class="panel">
    <p class="panel-title pad-10 no-mar fs-14">
        <i class="fa fa-search"></i> @T("AdvancedSearch")
    </p>
    <div class="pad-10">
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {
            <div class="row fs-14">
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.Query, new { @class = "my-1" })
                        @Html.TextBoxFor(p => p.Query, null, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(p => p.Query, "", new { @class = "form-text text-danger fs-12" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.SearchPlace, new { @class = "my-1" })
                        @if (settings.EnableBlog)
                        {
                            @Html.LocalizedEnumDropDownListFor(p => p.PostType, T("SelectAnItem").ToString(), new { @class = "form-control custom-select form-control-sm" })
                        }
                        @Html.LocalizedEnumDropDownListFor(p => p.SearchPlace, new { @class = "form-control custom-select form-control-sm t-mar-5" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.OrderBy, new { @class = "my-1" })
                        @Html.LocalizedEnumDropDownListFor(p => p.OrderBy, new { @class = "form-control custom-select form-control-sm" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.LanguageId, new { @class = "my-1" })
                        @Html.DropDownListFor(p => p.LanguageId, SearchTermModel.LanguagesList, T("SelectAnItem").ToString(), new { @class = "form-control custom-select form-control-sm" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.FilterByCategory, new { @class = "my-1" })
                        @Html.DropDownListFor(p => p.FilterByCategory, SearchTermModel.CategoriesList, T("SelectAnItem").ToString(), new { @class = "form-control custom-select form-control-sm" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.PageSize, new { @class = "my-1" })
                        @Html.DropDownListFor(p => p.PageSize, SearchTermModel.PageSizesList, new { @class = "form-control custom-select form-control-sm" })
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" }).ToMvcHtmlString()

            <div class="text-center t-mar-20">
                <button type="submit" class="btn btn-sm btn-warning"><i class="fa fa-search"></i> @T("Search")</button>
            </div>
        }
    </div>
</div>