@using Devesprit.Core
@using Devesprit.Core.Settings
@using Devesprit.Services
@using Devesprit.Services.Languages
@using Devesprit.Services.Localization
@using Devesprit.Utilities.Extensions
@using Devesprit.WebFramework.Helpers

@{
    Layout = null;
    var currentLang = DependencyResolver.Current.GetService<IWorkContext>().CurrentLanguage;
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
    var allLanguagesIso = DependencyResolver.Current.GetService<ILanguagesService>().GetAllLanguagesIsoList();
    var defaultLanguage = DependencyResolver.Current.GetService<ILanguagesService>().GetDefaultLanguage();


    //Java scripts
    if (currentLang.IsRtl)
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/RTL/GeneralScript.rtl.js");
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/RTL/persianumber.min.js");
    }
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/GeneralScript.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/iziToast.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/lazyload-12.0.0/dist/lazyload.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Content/SmartWizard-master/dist/js/jquery.smartWizard.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/jstree.min.js");
    if (currentLang.IsRtl)
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/RTL/main.js");
    }
    else
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/LTR/main.js");
    }
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/swiper.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/jquery.unobtrusive-ajax.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/jquery.validate.unobtrusive.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/jquery.validate.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/bootstrap.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/jquery-3.4.1.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/WarezComponent/Scripts/modernizr-3.8.0.min.js");



    //CSS
    if (currentLang.IsRtl)
    {
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/RTL/main.css");
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/RTL/fontiran.css");
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/RTL/all.css");
    }
    else
    {
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/LTR/main.css");
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/LTR/fontiran.css");
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/LTR/all.css");
    }
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/HelperStyles.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/swiper.min.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/jstree.min.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/SmartWizard-master/dist/css/smart_wizard.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/iziToast.min.css");
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/normalize.css");
    if (currentLang.IsRtl)
    {
        Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/RTL/bootstrap-rtl.min.css");
    }
    Html.AppendCssFileParts(ResourceLocation.Header, "~/Themes/WarezComponent/Content/bootstrap.min.css");
}

<!DOCTYPE html>

<html class="no-js" lang="@currentLang.IsoCode">
<head>
    <meta charset="utf-8">
    <title>@Html.Raw(ViewBag.Title ?? settings.GetLocalized(x => x.SiteName))</title>
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription ?? (ViewBag.Title ?? settings.GetLocalized(x => x.SiteName)))">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Devesprit DigiCommerce" />
    <meta name="theme-color" content="#fafafa" />
    <link rel="manifest" href="site.webmanifest">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    @if (!settings.GetLocalized(p => p.FavIcon).IsNullOrWhiteSpace())
    {
        <link rel="icon" type="@(settings.GetLocalized(p => p.FavIcon).EndsWith(".ico", StringComparison.OrdinalIgnoreCase) ? "image/x-icon" : "image/png")" href="@settings.GetLocalized(p => p.FavIcon)" />
    }

    @if (settings.AppendLanguageCodeToUrl)
    {
        <link rel="alternate" hreflang="x-default" href="@Request.Url.SetLangIso(defaultLanguage.IsoCode, allLanguagesIso).ToString()" />
    }
    else
    {
        <link rel="alternate" hreflang="x-default" href="@Request.Url.RemoveLangIso(allLanguagesIso).ToString()" />
    }
    @foreach (var lang in allLanguagesIso)
    {
        <link rel="alternate" hreflang="@lang" href="@Request.Url.SetLangIso(lang, allLanguagesIso).ToString()" />
    }

    @Html.GenerateHeadCustom()

    @Html.GenerateCssFiles(Url, ResourceLocation.HeaderBeforeOther)
    @Html.GenerateCssFiles(Url, ResourceLocation.Header)
    @Html.GenerateCssFiles(Url, ResourceLocation.HeaderAfterOther)

    @Html.GenerateScripts(Url, ResourceLocation.HeaderBeforeOther)
    @Html.GenerateScripts(Url, ResourceLocation.Header)
    @Html.GenerateScripts(Url, ResourceLocation.HeaderAfterOther)

    @Html.GenerateCanonicalUrls()

    @Html.Widget("head_tag")
</head>
<body>
    @Html.Widget("body_tag_start")

    @RenderBody()

    <a href="#" id="back-to-top" title="@T(" BackToTop")"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    <div id="dlgProductPurchaseWizard"></div>
    @Html.Partial("Partials/_LoadingPanel")

    @Html.Partial("Partials/_Notifications")

    @{
        Html.AddInlineScript(ResourceLocation.Footer,
@<script>
    function OnAddPostToWishlistButtonClick(event, postId, alreadyAddedToWishlist) {
        event.preventDefault();
                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("AddPostToWishlist", "Post")',
                     data: {
                         postId: postId
                     },
                     error: function(xhr, status, error) {
                         ErrorAlert('@T("Error")', '@T("ServerConnectionError")');
                         if (alreadyAddedToWishlist === true) {
                             $('.btnAddedToWishlist_' + postId).html('<i class="fas fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).addClass('like-btn-active');
                         } else {
                             $('.btnAddedToWishlist_' + postId).html('<i class="far fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).removeClass('like-btn-active');
                         }
                     },
                     success: function (data) {
                         if (data.response === 'add') {
                             $('.btnAddedToWishlist_' + postId).html('<i class="fas fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).addClass('like-btn-active');
                             return;
                         }
                         else if (data.response === 'remove') {
                             $('.btnAddedToWishlist_' + postId).html('<i class="far fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).removeClass('like-btn-active');
                             return;
                         }
                         else if (data.response === 'mustLogin') {
                             ErrorAlert('@T("Error")', '@T("ToPerformOperationPleaseLogin")');
                         }

                         if (alreadyAddedToWishlist === true) {
                             $('.btnAddedToWishlist_' + postId).html('<i class="fas fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).addClass('like-btn-active');
                         } else {
                             $('.btnAddedToWishlist_' + postId).html('<i class="far fa-bookmark"></i>');
                             $('.btnAddedToWishlist_' + postId).removeClass('like-btn-active');
                         }
                     },
                     beforeSend: function() {
                         $('.btnAddedToWishlist_'+postId).html('<i class="fa fa-spinner fa-spin"></i>');
                     }
                 });
             }


    function OnLikeButtonClick(event, postId, alreadyLiked) {
        event.preventDefault();
                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("LikePost", "Post")',
                     data: {
                         postId: postId
                     },
                     error: function(xhr, status, error) {
                         ErrorAlert('@T("Error")', '@T("ServerConnectionError")');
                         if (alreadyLiked === true) {
                             $('.btnLike_' + postId).html('<i class="fas fa-heart"></i>');
                             $('.btnLike_' + postId).addClass('like-btn-active');
                         } else {
                             $('.btnLike_' + postId).html('<i class="far fa-heart"></i>');
                             $('.btnLike_' + postId).removeClass('like-btn-active');
                         }
                     },
                     success: function (data) {
                         if (data.response === 'add') {
                             $('.btnLike_' + postId).html('<i class="fas fa-heart"></i>');
                             $('.btnLike_' + postId).addClass('like-btn-active');
                             return;
                         }
                         else if (data.response === 'remove') {
                             $('.btnLike_' + postId).html('<i class="far fa-heart"></i>');
                             $('.btnLike_' + postId).removeClass('like-btn-active');
                             return;
                         }
                         else if (data.response === 'mustLogin') {
                             ErrorAlert('@T("Error")', '@T("ToPerformOperationPleaseLogin")');
                         }

                         if (alreadyLiked === true) {
                             $('.btnLike_' + postId).html('<i class="fas fa-heart"></i>');
                             $('.btnLike_' + postId).addClass('like-btn-active');
                         } else {
                             $('.btnLike_' + postId).html('<i class="far fa-heart"></i>');
                             $('.btnLike_' + postId).removeClass('like-btn-active');
                         }
                     },
                     beforeSend: function() {
                         $('.btnLike_'+postId).html('<i class="fa fa-spinner fa-spin"></i>');
                     }
                 });
             }
</script>, true);
    }

    @Html.GenerateCssFiles(Url, ResourceLocation.FooterBeforeOther)
    @Html.GenerateCssFiles(Url, ResourceLocation.Footer)
    @Html.GenerateCssFiles(Url, ResourceLocation.FooterAfterOther)

    @Html.GenerateScripts(Url, ResourceLocation.FooterBeforeOther)
    @Html.GenerateScripts(Url, ResourceLocation.Footer)
    @Html.GenerateScripts(Url, ResourceLocation.FooterAfterOther)

    @Html.Widget("body_tag_end")
</body>
</html>