
@using Devesprit.Core
@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ

@{
    var currentLang = DependencyResolver.Current.GetService<IWorkContext>().CurrentLanguage;
}

@(Html.EJ().Grid<object>("PostImagesGrid")
              .Datasource(ds =>
              {
                  ds.URL(ViewBag.DataSource).Adaptor(AdaptorType.UrlAdaptor);
              })
              .AllowSorting()
              .AllowResizing()
              .AllowReordering()
              .AllowPaging()
              .AllowFiltering()
              .AllowTextWrap()
              .AllowSelection()
              .ShowColumnChooser()
              .IsResponsive()
              .SelectionType(SelectionType.Multiple)
              .EnablePersistence(false)
              .EnableResponsiveRow(true)
              .EnableRTL(currentLang.IsRtl)
              .MinWidth(990)
              .Locale("localString")
              .ClientSideEvents(evt => evt.ActionBegin("onPostImagesGridAction"))

              .EditSettings(edt => edt.AllowEditing().AllowDeleting().AllowAdding().ShowDeleteConfirmDialog())
              .PageSettings(p => { p.PageSize(25).PageSizeList(new List<int>(){10, 25, 50, 100, 250, 500}).PageCount(5).PrintMode(PrintMode.CurrentPage); })
              .FilterSettings(f => { f.FilterType(FilterType.Menu); })
              .TextWrapSettings(s => s.WrapMode(WrapMode.Both))
              .ScrollSettings(s=> s.EnableTouchScroll(true))
              .ToolbarSettings(toolBar => toolBar.ShowToolbar()
                  .CustomToolbarItems(new List<object>(){ new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#PostImagesGridRefresh" } })
                  .ToolbarItems(items =>
              {
                  items.AddTool(ToolBarItems.Add);
                  items.AddTool(ToolBarItems.Edit);
                  items.AddTool(ToolBarItems.Delete);
                  items.AddTool(ToolBarItems.PrintGrid);
              }))
              .Columns(col =>
              {
                  col.Field("Id").Width(50).HeaderText(T("Id").ToString()).IsPrimaryKey(true).Visible(false).Add();
                  col.Field("ImageUrl").HeaderText(T("Image").ToString()).Width(60).Template("<img style='max-height:100%; max-width: 100%; margin: auto; display:block' src='{{:ImageUrl}}'/>").Add();
                  col.Field("Title").HeaderText(T("ImageTitle").ToString()).Width(150).Add();
                  col.Field("Alt").HeaderText(T("AltTag").ToString()).Visible(false).Width(200).Add();
                  col.Field("DisplayOrder").HeaderText(T("DisplayOrder").ToString()).Width(80).Add();
              }))
<script id="PostImagesGridRefresh" type="text/x-jsrender">
    <a onclick="refreshPostImagesGrid();" class="e-toolbaricons e-icon"><i class="fa fa-refresh"></i></a>
</script>

@Html.MinifyInlineScript(
    @<script>
    function onPostImagesGridAction(args) {
        if (args.requestType === "delete") {
            //Delete record
            args.cancel = true;
            DeleteEntity(args.data.map(function(item){return item.Id;}), "@Url.Action("Delete")", refreshPostImagesGrid);
        } else if (args.requestType === "beginedit") {
            //Edit record
            args.cancel = true;
            PopupWindows('@Url.Action("Editor")', 'PostImageEditor', 600, 500, { id: args.rowData.Id, postId: @ViewBag.PostId }, 'get');
        } else if (args.requestType === "add") {
            //Add new record
            args.cancel = true;
            PopupWindows('@Url.Action("Editor")', 'PostImageEditor', 600, 500, {postId: @ViewBag.PostId}, 'get');
        }
    }

    function refreshPostImagesGrid() {
        $("#PostImagesGrid").ejGrid("refreshContent");
    }
    </script>)  