@using System.Globalization

@using Devesprit.Utilities.Extensions
@using Devesprit.Data.Enums
@using Devesprit.Core.Settings
@using Devesprit.Services
@model Devesprit.DigiCommerce.Models.Products.ProductModel
@{
    Layout = null;
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
}
<div class="item-info-pro-box">
    <div class="head-sidebar-single">
        <h3 class="title-sideber-single text-center">@T("ProductAttributes")</h3>
    </div>
    <div class="content-sidebar-single d-flex justify-content-center flex-wrap">
        <ul class="list-item-info-pro">
            <li>@T("PublishDate"):<span title="@Model.PublishDate.ToString("D")">@Model.PublishDate.TimeAgo()</span></li>
            <li>@Html.Raw(T("LastUpdate", "<span title='" + Model.LastUpdate.ToString("D") + "'>" + Model.LastUpdate.TimeAgo() + "</span>"))</li>
            @if (settings.LikePosts)
            {
                <li>@T("Likes"): <span title="@Model.NumberOfLikes.ToString("N0")">@Model.NumberOfLikesStr</span></li>
            }
            @if (!string.IsNullOrWhiteSpace(Model.FilesPath))
            {
                <li>@T("Downloads"): <span title="@Model.NumberOfDownloads.ToString("N0")">@Model.NumberOfDownloadsStr</span></li>
            }
            <li>@T("Visits"): <span title="@Model.NumberOfViews.ToString("N0")">@Model.NumberOfViewsStr</span></li>
            <li>
                @T("Categories"):
                <span>
                    @Html.Raw(string.Join(", ",
                        Model.Categories.Select(p =>
                            "<a href=" + p.CategoryUrl + " target='_blank'>" + p.CategoryName + "</a>").ToList()))
                </span>
            </li>
            @if (Model.Attributes.Any())
            {
                foreach (var attribute in Model.Attributes.OrderBy(p => p.DisplayOrder))
                {
                    switch (attribute.Type)
                    {
                        case PostAttributeType.Text:
                            <li>@Html.Raw(attribute.Name): <span>@attribute.Value</span></li>
                            break;
                        case PostAttributeType.HtmlText:
                        case PostAttributeType.Option:
                            <li>@Html.Raw(attribute.Name): <span>@Html.Raw(attribute.Value)</span></li>
                            break;
                        case PostAttributeType.Link:
                            <li><a href="@attribute.Value" rel="nofollow noreferrer noopener" target="_blank">@Html.Raw(attribute.Name)</a></li>
                            break;
                    }
                }
            }
        </ul>
    </div>
</div>

