@using Devesprit.WebFramework.Helpers
@model Devesprit.DigiCommerce.Areas.Admin.Models.TaxModel
@{
    Layout = Html.GetCurrentThemeAdminAreaLayoutAddress(true);
}

<div class="container">
    <div class="panel pad-20 mar-v-35  fs-14">
        @using (Html.BeginForm("Editor", "ManageTaxes", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.Id)

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.TaxName)
                        @Html.LocalizedTextBoxFor(p => p.TaxName, null, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(p => p.TaxName, "", new { @class = "form-text text-danger fs-12" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(p => p.Amount)
                        @Html.TextBoxFor(p => p.Amount, new { @class = "form-control form-control-sm ltr-dir", type = "number" })
                        @Html.ValidationMessageFor(p => p.Amount, "", new { @class = "form-text text-danger fs-12" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="form-check">
                            @Html.CheckBoxFor(p => p.IsActive, new { @class = "form-check-input" })
                            @Html.LabelFor(p => p.IsActive, new { @class = "form-check-label" })
                        </div>
                        @Html.ValidationMessageFor(p => p.IsActive, "", new { @class = "form-text text-danger fs-12" })
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" }).ToMvcHtmlString()

            <div class="text-center t-mar-20">
                <button type="submit" class="btn btn-sm btn-warning">@T("Save")</button>
                <button type="button" onclick="SaveAndContinue($(this).closest('form'));" class="btn btn-sm btn-warning">@T("SaveAndContinue")</button>
                <button type="button" onclick="window.close();" class="btn btn-sm btn-success">@T("Close")</button>
            </div>
        }
    </div>
</div>